* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gajraj One', cursive;
    font-size: 20px;
}

body {
    margin: 0 auto;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    display: flex;
}

#nextTetro {
    margin: 0 21px;
    width: 84px;
    height: 84px;
    top: 0px;
    left: 10px;
    font-size: 0;
}

.inform {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    color: aliceblue;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
}

.game {
    width: fit-content;
    height: fit-content;
    margin: 5px auto 0px;
    border: 1px solid aliceblue;
    font-size: 0px;
}

.cell {
    width: 21px;
    height: 21px;
    display: inline-block;
    border: 0.5px solid rgb(28, 28, 29);
}

.movingCell {
    background-color: rgb(71, 98, 250);
    border: 1px solid rgb(34, 60, 204);
}

.fixetCell {
    background-color: rgb(91, 212, 61);
    border: 1px solid rgb(54, 153, 29);
}

.left-buttons, .right-buttons {
    margin-top: 211px;
    text-align: center;
    color: aliceblue;
}

.right-buttons {
    margin-top: 386px;
}

#pause, #start {
    width: fit-content;
    margin-top: 5px;
    padding: 10px;
    border-radius: 35%;
    background: rgb(26, 136, 41);
    cursor: pointer;
    user-select: none;
}

#left, #right, #round-arrow, #down, #enter {
    width: 39px;
    margin-left: 50%;
    margin-top: 6px;
    padding: 5px;
    background: rgb(88, 99, 28);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

#right, #round-arrow, #down {
    margin: 0%;
    margin-top: 6px;
}

#enter {
    margin-top: 116px;
}